
label {
    font-size: 18px; 
}

body {
    background-color: #f7dded;
}


.titulo {
    color: #33a3ff;
    font-size: 28px; 
    text-align: center; 
}


#ButtonBuscar {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #0074d9;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#categorias {
    padding: 5px;
    font-size: 16px;
    border-radius: 10px;
}

#chisteContainer {
    display: none;
    margin-top: 10px;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #928f8f;
    border-radius: 10px;
    background-color: #f9f9f9;
}

div img {
    margin: 10px;
    width: 300px;
    height: auto; 
    border-radius: 10px;
}


