/* Estilo para el cuerpo del documento */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

ll
/* Estilo para el contenedor principal */
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* Estilo para el título */
h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

/* Estilo para el botón */
#ButtonBuscar {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

/* Estilo para el botón cuando se pasa el ratón por encima */
#ButtonBuscar:hover {
    background-color: #0056b3;
    cursor: pointer;
}

/* Estilo para el select */
#categorias {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilo para la etiqueta del select */
label {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
}
